params {
    speciesMapping = "$launchDir/data/SpeciesIDs.txt"
    sequenceMapping = "$launchDir/data/SequenceIDs.txt"
    orthologgroups = "$launchDir/data/Results/Phylogenetic_Hierarchical_Orthogroups/N0.tsv"
    buildVersion = 7
    diamondResults = "$launchDir/data/blast"
    orthofinderWorkingDir = "$launchDir/data/WorkingDirectory"
    bestRepDiamondOutputFields = "qseqid sseqid evalue"
    outputDir =  "$launchDir/output"
}
docker {
  enabled = true
}
singularity {
  enabled = false
}
